.turnoutInset{
	background-color: #edf1fc;
	border-radius: 25px;
	border: 2px solid #216cad;
	margin-top: .8rem;
}
.turnoutInset-header{
	margin-top: .4rem;
	/*margin-bottom: 100px;
	margin-right: 150px;
	margin-left: 80px;*/
}