@media only screen and (min-width: 1475px) {
	#video-viewport {
		position: fixed;
		top: 0;
		left: 0;
		height:auto;
		width:100%;
		z-index: -1
	}
}
@media only screen and (max-width: 1475px) {
	#video-viewport {
		position: fixed;
		top: 0;
		left: 0;
		height:100%;
		width:auto;
		z-index: -1
	}
}


.content {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
}
